<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <html>

    <head>
        <%-include('partials/nav') %>
    </head>

    <body>
       <div class="error">
         <h1>OOPS... Page not found</h1>
        <p>Sorry the page you are looking for doesn't exit</p>
       </div>
       <%-include('partials/footer') %>
    </body>
</body>

</html>